*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul,li{
    list-style: none;
}

img{
    vertical-align: top;
}


body{
    background-image: url("../../images/index_jsp/index_background.jpg");
    background-size: cover;
}

div.container{
    text-align: center;
}

div.container input[type=file]{
    display: none;
}

#selectImageDiv{
    border: 1px dotted #CCCCCC;
    width: 300px;
    padding: 30px;
    margin: 10px auto;
}

div.container span.selectImage{
    width: 200px;
    height: 30px;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    color: #000000;
    margin: 20px 0;
}

div.container img{
    width: 240px;
}

div.container input[type=button]{
    width: 300px;
    height: 40px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 1s;
}

div.container input[type=button]:hover{
    color: #1f36ff;
}