<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="biz.mappers.IdcardMapper">
  <resultMap id="BaseResultMap" type="model.Idcard">
    <id column="uuid" jdbcType="VARCHAR" property="uuid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="idCard" jdbcType="VARCHAR" property="idcard" />
    <result column="toDate" jdbcType="VARCHAR" property="todate" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="signingAndIssuingOrganization" jdbcType="VARCHAR" property="signingandissuingorganization" />
    <result column="frontIdCardImagePath" jdbcType="VARCHAR" property="frontidcardimagepath" />
    <result column="backIdCardImagePath" jdbcType="VARCHAR" property="backidcardimagepath" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    uuid, name, idCard, toDate, address, signingAndIssuingOrganization, frontIdCardImagePath, 
    backIdCardImagePath
  </sql>
  <select id="selectByExample" parameterType="model.IdcardExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from idcard
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from idcard
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from idcard
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="model.IdcardExample">
    delete from idcard
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="model.Idcard">
    insert into idcard (uuid, name, idCard, 
      toDate, address, signingAndIssuingOrganization, 
      frontIdCardImagePath, backIdCardImagePath
      )
    values (#{uuid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{todate,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{signingandissuingorganization,jdbcType=VARCHAR}, 
      #{frontidcardimagepath,jdbcType=VARCHAR}, #{backidcardimagepath,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="model.Idcard">
    insert into idcard
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        uuid,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="idcard != null">
        idCard,
      </if>
      <if test="todate != null">
        toDate,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="signingandissuingorganization != null">
        signingAndIssuingOrganization,
      </if>
      <if test="frontidcardimagepath != null">
        frontIdCardImagePath,
      </if>
      <if test="backidcardimagepath != null">
        backIdCardImagePath,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="todate != null">
        #{todate,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="signingandissuingorganization != null">
        #{signingandissuingorganization,jdbcType=VARCHAR},
      </if>
      <if test="frontidcardimagepath != null">
        #{frontidcardimagepath,jdbcType=VARCHAR},
      </if>
      <if test="backidcardimagepath != null">
        #{backidcardimagepath,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="model.IdcardExample" resultType="java.lang.Long">
    select count(*) from idcard
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update idcard
    <set>
      <if test="record.uuid != null">
        uuid = #{record.uuid,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.idcard != null">
        idCard = #{record.idcard,jdbcType=VARCHAR},
      </if>
      <if test="record.todate != null">
        toDate = #{record.todate,jdbcType=VARCHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.signingandissuingorganization != null">
        signingAndIssuingOrganization = #{record.signingandissuingorganization,jdbcType=VARCHAR},
      </if>
      <if test="record.frontidcardimagepath != null">
        frontIdCardImagePath = #{record.frontidcardimagepath,jdbcType=VARCHAR},
      </if>
      <if test="record.backidcardimagepath != null">
        backIdCardImagePath = #{record.backidcardimagepath,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update idcard
    set uuid = #{record.uuid,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      idCard = #{record.idcard,jdbcType=VARCHAR},
      toDate = #{record.todate,jdbcType=VARCHAR},
      address = #{record.address,jdbcType=VARCHAR},
      signingAndIssuingOrganization = #{record.signingandissuingorganization,jdbcType=VARCHAR},
      frontIdCardImagePath = #{record.frontidcardimagepath,jdbcType=VARCHAR},
      backIdCardImagePath = #{record.backidcardimagepath,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="model.Idcard">
    update idcard
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        idCard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="todate != null">
        toDate = #{todate,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="signingandissuingorganization != null">
        signingAndIssuingOrganization = #{signingandissuingorganization,jdbcType=VARCHAR},
      </if>
      <if test="frontidcardimagepath != null">
        frontIdCardImagePath = #{frontidcardimagepath,jdbcType=VARCHAR},
      </if>
      <if test="backidcardimagepath != null">
        backIdCardImagePath = #{backidcardimagepath,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.Idcard">
    update idcard
    set name = #{name,jdbcType=VARCHAR},
      idCard = #{idcard,jdbcType=VARCHAR},
      toDate = #{todate,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      signingAndIssuingOrganization = #{signingandissuingorganization,jdbcType=VARCHAR},
      frontIdCardImagePath = #{frontidcardimagepath,jdbcType=VARCHAR},
      backIdCardImagePath = #{backidcardimagepath,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>